body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'Lexend', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#permission-request {
    text-align: center;
    width: 80%;
    max-width: 90%;
}
#permission-request button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Lexend', sans-serif;
}
#permission-request button:hover {
    background-color: #f0f0f0;
}
#content {
    display: none;
    width: 100%;
    height: 100%;
}
#video-container {
    position: relative;
    width: 100%;
    height: 100%;
}
#video-feed {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 30px;
    opacity: 0.5;
    width: 80%;
    max-width: 600px;
    font-size: 12px;
    display: none;
    z-index: 1000;
    text-align: center;
    word-wrap: break-word;
    box-sizing: border-box;
}
.icons {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-wrapper {
    background-color: black;
    border-radius: 50%;
    opacity: 0.2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons i {
    font-size: 2em;
    color: white;
}
.icon-wrapper:hover {
    opacity: 1;
}
.bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 50%;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 1001;
}
.bottom-sheet.active {
    transform: translateY(0);
}
.bottom-sheet .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bottom-sheet .header h3 {
    margin: 0;
    color: black;
}
.bottom-sheet .header .close-btn {
    cursor: pointer;
    font-size: 1.5em;
    color: black;
}
.bottom-sheet .content {
    padding: 10px;
    background-color: white;
}
.bottom-sheet .content ul {
    list-style: none;
    padding: 0;
}
.bottom-sheet .content ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: black;
}
#map {
    width: 100%;
    height: 400px;
}
